#greekCross{ 
	 left: 659px; 
	 top: 705px; 
	 position: absolute; 
	 width: 244px;
	 height: 226px;
} 
#CRCross{ 
	 left: 394px; 
	 top: 703px; 
	 position: absolute; 
	 width: 245px;
	 height: 226px;
} 
#jeruCross{ 
	 left: 141px; 
	 top: 706px; 
	 position: absolute; 
	 width: 247px;
	 height: 228px;
} 

#patCross{ 
	 left: 658px; 
	 top: 455px; 
	 position: absolute; 
	 width: 243px;
	 height: 230px;
} 

#byzCross{ 
	 left: 400px; 
	 top: 458px; 
	 position: absolute; 
	 width: 243px;
	 height: 228px;
} 
.move{
	-webkit-transform: translate(200px,-360px);
	transition-duration        : 0.5s;
}
#sibirCross{ 
	 left: 146px; 
	 top: 456px; 
	 position: absolute; 
	 width: 240px;
	 height: 225px;
} 

#russianCross{ 
	 left: 392px; 
	 top: 98px; 
	 position: absolute; 
	 width: 243px;
	 height: 331px;
}
.crosses-text-box-heb{
	position: fixed;
    top: 16%;
    right: 9%;
    width: 31%;
    direction: rtl;
}
.crosses-text-box-en{
	position: fixed;
	top: 16%;
	right: 7%;
	width: 34%;
  }
.crossesParaEN{
	font-family: Papyrus;
	font-size: 18px;
    line-height: 1.6;
	overflow: scroll;
	white-space: pre-line;
	height: 620px;
}
.crossesParaHE{
	line-height: 1.6;
	font-size: 18px;
    overflow: scroll;
    font-family: Papyrus;
	white-space: pre-line;
}
.crossesTitleHE{
	position: fixed;
    right: 8%;
    top: 16%;
}
.crossesPageHeTitle{
	float: right;
    margin-right: 9%;
    margin-bottom: 0%;
}
.crossesHeUnderline{
	margin-left: 26%;
}
.jeru-cross-en{
	position: relative;
	top: -50px;
	left: -78px;
}
.jeru-cross-pic-container{
	display: flex;
}
.jeru-cross-pi-text{
	position: relative;
	top: 85px;
	right:74px;
}
.sec-jeru-cross-text{
	margin-top: -50px;
}